body {
  background-color: #eee;
}

.todos {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  height: 40px;
}

.add {
  color: white;
  background-color: #1CED27;
  border: none;
  border-radius: 10px;
  height: 30px;
}

.delete {
  color: white;
  background-color: crimson;
  border: none;
  height: 35px;
  border-radius: 10px;
  position: absolute;
  left: 2%;

}

.input-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30px;
}

h1 {
  text-align: center;
}